[data-bs-theme=light] .btn-outline-theme {
  --bs-btn-color: #212529;
  --bs-btn-border-color: #212529;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #212529;
  --bs-btn-hover-border-color: #212529;
  --bs-btn-focus-shadow-rgb: 33, 37, 41;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #212529;
  --bs-btn-active-border-color: #212529;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #212529;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #212529;
}

[data-bs-theme=dark] .btn-outline-theme {
  --bs-btn-color: #f8f9fa;
  --bs-btn-border-color: #f8f9fa;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #f8f9fa;
  --bs-btn-hover-border-color: #f8f9fa;
  --bs-btn-focus-shadow-rgb: 248, 249, 250;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #f8f9fa;
  --bs-btn-active-border-color: #f8f9fa;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #f8f9fa;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f8f9fa;
}


body {
  overscroll-behavior-y: contain;
}

.gyroball {
  height: 40vh;
}

#ball {
  background-color: rgb(0, 0, 0);
  min-height: 12vh;
  aspect-ratio: 1/1;
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  box-shadow: 0px 0px 0rem rgb(0, 0, 0);
}

.conquistas-off {
  height: calc(100vh - 48px);
  height: calc(100dvh - 48px);
}

.auturaTabela {
  height: calc(100vh - 48px - 35px - 31px - 4px);
  height: calc(100svh - 48px - 35px - 31px - 4px);
}

@media (max-width: 373px) {
  .auturaTabela {
    height: calc(100vh - 48px - 35px - 31px - 31px - 4px);
    height: calc(100svh - 48px - 35px - 31px - 31px - 4px);
  }
}

.navbar::-webkit-scrollbar {
  display: none;
}

.navbar {
  overflow-x: auto;
}

.nav-link {
  transition: ease-in 0.4s background-color;
}

.nav-link:active {
  background-color: rgba(127, 127, 127, 0.25);
  transition: 0s background-color;
}

.backdrop-blur {
  backdrop-filter: blur(0.1rem);
}

.barraRPM {
  background-color: #000;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.barraRPM div {
  width: 2rem;
  height: calc(100% / 6);
}

#ponteiro {
  display: inline-block;
  position: relative;
  top: 100%;
  transition: 500ms top ease-in-out;

  width: 0;
  height: 0;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-left: 2rem solid #ff7b0080;
  transform: scale(2.3, 1) translate(0, -1rem);
}

@media (max-width: 576px) {
  #ponteiro {
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-left: 1rem solid #ff7b0080;
    transform: scale(2.3, 1) translate(0, -1rem);
  }
  .barraRPM div {
    width: 1rem;
    height: calc(100% / 6);
  }
}